* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3,20% 60% 20%);
    margin: 20px 20px;
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px;
    font-size: 25px;
}
.search{
    min-width: 200px;
    width: 70%;
    padding: 8px;
}
.youtube-info {
    display: flex;
    margin-right: 30px;
}
.youtube-info a{
    text-decoration: none;
    margin-right: 30px;
}
.youtube-image {
    max-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.main-page h3 {
    margin-left: 20px;
    text-transform: capitalize;
}

.view {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eee;
    margin-left: 20px;
}

.likes {
    display: flex;
}

.likes button {
    margin-left: 10px;
    border: hidden;
    color: #696969;
}

.like-btn {
    border-bottom: 1px solid black;
}

.likes a {
    text-decoration: none;
    margin-left: 10px;
    color: #696969;
}

.img-profile {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.detail {
    margin: 20px 20px;
    border-bottom: 3px solid #eee;
}

.profile {
    display: flex;
    text-decoration: none;
}

.profile h4 {
    color: black;
}

.profile p {
    color: #696969;
}

.profile-subs {
    display: flex;
    justify-content: space-between;
}

.lead {
    margin-left: 50px;
    text-align: justify;
}

.subscribe {
    background: red;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;
    border: none;
}

.show-more {
    border: none;
    padding: 15px;
    margin: 10px 50px;
}
.next{
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}
.simillar-pages {
    display: flex;
}

#about-page {
    margin-left: 40px;
}

.simillar-pages a {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
}

.image-1 {
    max-width: 100%;
    margin-top: 10px;
}

.public-comment {
    display: flex;
    margin-top: 20px;
}

.form-group {
    margin-left: 20px;
    margin-top: 30px;
}

.comment {
    margin-left: 20px;
    width: 100%;
    border: hidden;
    border-bottom: 1px solid black;
    outline: none;
}

.old-comment {
    display: flex;
    margin: 20px 20px;
}

.user {
    margin-left: 20px;
}

#like {
    margin-left: 70px;
}

.replay {
    border: none;
    margin-left: 30px;
    color: #696969;
}

@media(min-width:344px) {
    .youtube-main {
        align-items: center;
        text-align: center;
    }
    .youtube-image {
        max-width: 95%;
    }
}

@media(min-width:670px) {
    .youtube-main {
        align-items: center;
        text-align: center;
    }
    .youtube-image {
        max-width: 90%;
    }
}

@media(min-width:700px) {
    .youtube-main {
        align-items: center;
        text-align: center;
    }
    .youtube-image {
        max-width: 85%;
    }
}

@media(min-width:750px) {
    .youtube-main {
        align-items: center;
        text-align: center;
    }
    .youtube-image {
        max-width: 80%;
    }
}

@media(min-width:850px) {
    .youtube-main {
        align-items: center;
        text-align: center;
    }
    .youtube-image {
        max-width: 75%;
    }
}

@media(min-width:1018px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2.1fr);
        margin-left: 50px;
        margin-top: 20px;
    }
    .youtube-image {
        max-width: 95%;

    }
    .ab{
        grid-row: 2;
    }
.you-list{
    grid-row: 1/4;
    grid-column: 2;
}
    .comment{
        width: 55%;
    }
}