*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.youtube-image{
    max-width: 100%;
    width: 100%;
}
.view{
    display: flex;
    
}
.img-profile{
border-radius: 50%;
height: 30px;
width: 30px;
}
.profile{
    display: flex;

}
.profile-subs{
    display: flex;
    justify-content: space-between;
}
.simillar-pages{
    display: flex;
}